@media(max-width: 375px){
/* Main */
	.logo{
		padding-top: 0.5%;
		padding-left: 41%; 
		width: 20%;
		height: 20%
	}

	.config{
		padding-left: 26%;
		margin-bottom: 2.8%;
		width: 9%;
		height: 9%
	}
	
	.footer{
	 display:flex;
	 border-top:solid 2px;
	 border-color: #1e2024;
	 background-color: lightblue;
	 display:flex;
	 position: fixed;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 color: #f5f2f5;
	 justify-content: space-around;

		}
	
	.icon{
		width:3rem;
		height:3rem;
		margin-top:0.3rem;
		
	}


	.header{
		padding-top: 12px;
		border-bottom: solid 2px;
		border-width: 1px;
		background-color: lightblue;
		border-color: #1e2024;
	}


	.div_food{
		border-style: solid;
		border-width: 2px;
		margin-left: 10px;
		margin-top: 10px;
		margin-right: 10px;
	}

	.food{
		width: 150px;
		height: 150px;
	}
	
	.texto{
		position: relative;
		display: inline;
		margin-top: 10px;
		margin-left: 5px;
		line-height: 2;

	}
}